<!DOCTYPE html>
<html>
<head>
  <title>Project3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.gif' %>
</head>
<body>

<div>
  
<h1>wdi-zen</h1>
</div>

<%= yield %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.24/paper-full.min.js"></script>


</body>
</html>
